<h3 class="text-3xl text-center my-3">Edit Campground</h3>

<div class="flex justify-center">
  <div class="p-3 w-3/4 lg:w-1/2">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      class="mb-2 flex flex-col justify-center"
      enctype="multipart/form-data"
    >
      <div class="flex flex-col mb-3">
        <label for="title">Camp Title</label>
        <input
          type="text"
          id="title"
          name="campground[title]"
          class="input my-2"
          value="<%= campground.title %>"
          required
        />
      </div>
      <div class="flex flex-col mb-3">
        <label for="location">Camp Location</label>
        <input
          type="text"
          id="location"
          name="campground[location]"
          class="input my-2"
          value="<%= campground.location %>"
          required
        />
      </div>

      <div class="flex flex-col mb-3">
        <label for="price">Campground Price</label>
        <input
          type="text"
          id="price"
          name="campground[price]"
          class="input my-2"
          value="<%= campground.price %>"
          required
        />
      </div>
      <div class="flex flex-col mb-3">
        <label for="description">Description</label>
        <textarea
          type="text"
          id="description"
          name="campground[description]"
          class="input my-2 h-40"
          required
        >
<%= campground.description %> </textarea
        >
      </div>
      <div class="flex flex-col mb-3">
        <label for="image">Add more images</label>
        <input
          type="file"
          name="image"
          id="image"
          class="mt-2 w-full border border-gray-600 p-2 rounded-lg focus:outline-none"
          multiple
        />
        <div id="image-names" class="text-green-500"></div>
      </div>
      <div class="flex justify-between items-center">
        <a
          href="/campgrounds/<%= campground._id%>"
          class="btn bg-transparent border border-black hover:border-orange-500"
          >Back to Campground</a
        >
        <button class="btn">Update Campground</button>
      </div>
    </form>
  </div>
</div>

<!-- file input control -->
<script src="/js/fileInputControl.js"></script>
