<div class="md:flex justify-center mb-5">
  <div class="mx-auto mb-5 rounded-lg shadow-lg bg-white max-w-sm md:mb-2">
    <a href="#!">
      <img
        class="rounded-t-lg"
        src="<%= campground.image %> "
        alt="<%= campground.title %> image "
      />
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">
        <%= campground.title %>
      </h5>
      <span class="mb-2 text-gray-500"><%= campground.location %></span>
      <span class="mx-2">|</span>
      <span class="text-gray-600">£<%= campground.price %>/night</span>
      <p class="text-gray-700 text-base my-3"><%= campground.description %></p>
      <div class="flex items-center justify-between">
        <a href="/campgrounds/<%=campground._id%>/edit" class="btn bg-gray-400"
          >Edit</a
        >
        <form
          action="/campgrounds/<%=campground._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn bg-red-600 hover:bg-red-800 text-white">
            Delete
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="mx-auto">
    <h3 class="text-xl font-semibold mt-3 mb-2 md:mt-0">Leave a Review</h3>
    <hr class="hr" />
    <form action="/campgrounds/<%= campground._id %>/reviews" method="POST">
      <div class="mb-4 flex items-center gap-2">
        <label for="rating">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          name="review[rating]"
          id="rating"
          required
        />
      </div>
      <div class="mb-3 flex items-center gap-2">
        <label class="self-start" for="review-body">Review</label>
        <textarea
          name="review[body]"
          id="review-body"
          cols="30"
          rows="5"
          class="border border-1 border-gray-500 rounded-lg"
        ></textarea>
      </div>
      <div class="text-center">
        <button class="btn bg-yellow-400 hover:bg-yellow-500">
          Submit Review
        </button>
      </div>
    </form>
    <div>
      <h3 class="text-xl font-semibold mt-3 mb-2 md:mt-0">All Reviews</h3>
      <hr class="hr" />
      <% if (!campground.reviews.length) { %>
      <div class="text-center mb-3">
        <span class="text-lg text-gray-400">Wow, Such empty campground!</span>
      </div>
      <% } else { %> <% campground.reviews.map( review => {%>
      <div class="md:flex justify-center mb-5">
        <div class="p-3 mx-auto mb-3 rounded-lg shadow-lg bg-white max-w-sm">
          <p class="mb-2">
            <span class="font-semibold">Rating:</span> <%= review.rating %>
          </p>
          <p class="my-3">
            <span class="font-semibold">Review:</span> <%= review.body %>
          </p>
          <form
            action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn bg-red-600 hover:bg-red-800 text-white">
              Delete Review
            </button>
          </form>
        </div>
      </div>
      <% }) %> <% } %>
    </div>
  </div>
</div>
<div class="text-center">
  <a href="/campgrounds" class="btn">Back to All Campgrounds</a>
</div>
